*{
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(59, 59, 59);
}

h1 {
    color: #fff;
    text-shadow: 0.08em 0.08em 0.2em rgba(0, 0, 0, 0.5);
    margin: 0.8em auto;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80vw;
    background-color: rgb(49, 49, 49);
    box-shadow: 0.2em 0.2em 1em rgba(255, 255, 255, 0.3);
    align-items: center;
    border-radius: 1%;
}

.meme-container {
    display: flex;
    width: 50vw;
    border-radius: 2%;
    overflow: hidden;
    padding: 1.2em;
    margin: auto;
}

.slider {
    display: flex;
    gap: 1.875em;
    transition: transform 1s ease-in-out;
}

.content {
    display: inline-flex;
    justify-content: space-between;
    width: 50vw;
    height: 2.5em;
    margin-bottom: 1.25em;
}

.meme-text {
    color: #fff;
    font-size: 90%;
}

img {
    width: 100%;
    border-radius: 2%;
}

.controls {
    display: flex;
    gap: 0.2vw;
}

.control-inner {
    display: inline-block;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
}

.control-outer {
    display: inline-flex;
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 50%;
    background-color: #3753d1;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.control-bg {
    display: inline-flex;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.control-bg:hover .control-outer {
    background-color: #fff;
}

@keyframes desappearance {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes appearance {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
    }
}

.meme-text.desappearance {
    animation: desappearance 0.5s forwards;
}

.meme-text.appearance {
    animation: appearance 3s forwards;
}

@media (min-width: 1421px) {
    .meme-container {
        width: 30vw;
    }

    .content {
        width: 30vw;
    }

    .control-bg {
        width: 1.5vw;
        height: 1.5vw;
    }

    .control-outer {
        width: 1vw;
        height: 1vw;
    }

    .control-inner {
        width: 0.6vw;
        height: 0.6vw;
    }

}

@media (max-width: 970px) {
    .content {
        flex-direction: column-reverse;
        gap: 5%;
        height: 3.125em;
    }

    .text {
        margin-top: 0.938em;
    }

    .controls {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .meme-text {
        font-size: 70%;
    }

    .control-bg {
        width: 2.5vw;
        height: 2.5vw;
    }

    .control-outer {
        width: 2vw;
        height: 2vw;
    }

    .control-inner {
        width: 1.4vw;
        height: 1.4vw;
    }
}
